<footer class="footer">
    <div class="footer__content-wrapper content-wrapper">
        <div class="footer__top flex">
            <div class="footer__logo logo flex">
                <img src="../assets/img/logo.svg" alt="logo" class="footer__logo-image logo__image">
                <div class="footer__logo-text logo__text">
                    <span class="footer__first-line logo__first-line">МБУ СШ №6</span>
                    <span class="footer__second-line logo__second-line">Волгоград</span>
                </div>
            </div>
            <div></div>
            <div></div>
        </div>
        <div class="footer__bottom flex">
            <span class="footer__copyright">МБУ СШ №6
                Волгоград © 2022</span>
        </div>
    </div>
</footer>