<header class="header">
    <div class="header__content-wrapper content-wrapper">
        <div class="header__row flex">
            <div class="header__logo logo flex">
                <img src="../assets/img/logo.svg" alt="logo" class="header__logo-image logo__image">
                <div class="header__logo-text logo__text">
                    <span class="header__first-line logo__first-line">МБУ СШ №6</span>
                    <span class="header__second-line logo__second-line">Волгоград</span>
                </div>
            </div>
            <div class="header__burger-menu">
                <span></span>
            </div>
            <nav class="header__navbar menu">
                <ul class="header__menu-list menu__list flex">
                    <li><a href="/#" class="header__menu-link menu__link">Главная</a></li>
                    <li><a href="/#kinds-of-sports" class="header__menu-link menu__link">Виды спорта</a></li>
                    <li><a href="/#news-section" class="header__menu-link menu__link">Новости</a></li>
                    <li><a href="/#coaches-section" class="header__menu-link menu__link">Сотрудники</a></li>
                    <li>
                        <div class="header__menu-wissub menu__link-wissub flex">
                            <a href="/#contacts-section" class="header__menu-link menu__link">Контакты</a>
                            <div class="header__arrow menu__link-arrow"></div>
                        </div>
                        <ul class="header__menu-sublist menu__sublist mobile">
                            <li><a href="/documents.html" class="header__menu-sublink menu__sublink">Документы</a></li>
                            <li><a href="/info.html" class="header__menu-sublink menu__sublink">Сведения об
                                    организации</a></li>
                            <li><a href="/materials.html" class="header__menu-sublink menu__sublink">Методические
                                    материалы</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>