<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&lang=ru_RU" type="text/javascript"></script>
    <link rel="stylesheet" href="../assets/css/style.min.css">
    <title>{{page.title}}</title>
</head>
<body>
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
    <script src="../assets/js/app.min.js"></script>
</body>
</html>